/*

[Custom Stylesheet]

Project     : CloudSky - Multipurpose Domain, Hosting and WHMCS Template
Version     : 1.5
Author      : ThemeLooks
Author URI  : https://themeforest.net/user/themelooks

You can write your custom css styles in this file...

*/
