/*

[RTL Stylesheet]

Project     : CloudSky - Multipurpose Domain, Hosting and WHMCS Template
Version     : 1.5
Author      : ThemeLooks
Author URI  : https://themeforest.net/user/themelooks

*/

/* FORM CONTROLS */
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group>.btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-radius: 0;
}

.input-group-addon:last-child {
    border-left-width: 0;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
    margin-right: 0;
}

/* TEXT ALIGNS */
.text-left {
    text-align: right;
}

.text-right {
    text-align: left;
}

/* MARGINS */
.ml--5 { margin-left: 0; margin-right: 5px; }
.ml--8 { margin-left: 0; margin-right: 8px; }
.ml--15 { margin-left: 0; margin-right: 15px; }

.mr--5 { margin-left: 5px; margin-right: 0; }
.mr--8 { margin-left: 8px; margin-right: 0; }
.mr--15 { margin-left: 15px; margin-right: 0; }

/* NAV LINKS */
.nav > li {
    float: right;
}

/* TAB NAV */
.tab-nav--widget .nav > li > a:after {
    left: -10px;
    right: auto;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

/* DROPDOWN */
.dropdown-menu:before {
    left: auto;
    right: 23px;
}

/* OWL NAV */
.owl-nav > div {
    left: auto;
    right: 10px;
}

.owl-nav > div.owl-next {
    left: 10px;
    right: auto;
}

/* PAGINATION */
.pagination > li:first-child > a,
.pagination > li:last-child > a {
    border-radius: 50%;
}

.pagination > li.prev {
    margin-left: 20px;
    margin-right: 1px;
}

.pagination > li.next {
    margin-left: 1px;
    margin-right: 20px;
}

/* SEARCH WIDGET */
.search--widget .input-group-btn .btn {
    border-radius: 0;
}

.search--widget .input-group-btn .btn:before {
    left: 0;
    right: auto;
    border-width: 15px 0 0 20px;
}

/* ABOUT WIDGET */
.about--widget dl dt .fa {
    margin-left: 10px;
    margin-right: 0;
}

/* NAV WIDGET */
.nav--widget .nav > li > a:before {
    left: 60px;
    right: 0;
}

.nav--widget .nav > li > a > span.text {
    padding-left: 20px;
    padding-right: 0;
}

.nav--widget .nav > li > a > span.count {
    left: 0;
    right: auto;
}

/* TAGCLOUD WIDGET */
.tagcloud a {
    margin-left: 10px;
    margin-right: 0;
}

/* COMMENT ITEMS */
.comment--items .comment--items {
    margin-left: 0;
    margin-right: 100px;
}

.comment--item .img {
    float: right;
    margin-left: 30px;
    margin-right: 0;
}

.comment--item .info--left {
    float: right;
}

.comment--item .info--rating,
.comment--item .info--reply {
    float: left;
}

/* COOKIE NOTIFY */
#cookieNotify .float--right {
    float: left;
}

#cookieNotify .alert .close {
    float: left;
    margin-left: 0;
    margin-right: 15px;
}

/* HEADER SECTION */
.header--cart-btn {
    float: left;
    margin-left: 0;
    margin-right: 40px;
}

.header--cart-btn a span {
    margin-left: 0;
    margin-right: 10px;
}

.header--navbar .navbar-collapse {
    float: left;
}

.header--navbar .dropdown-menu:before {
    right: 35px;
}

.dropdown-menu .dropdown-toggle:before {
    content: "\f104";
    left: 20px;
    right: auto;
}

.dropdown-menu .dropdown-menu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 21px;
}

.header--navbar .dropdown-menu .dropdown-menu:before {
    left: auto;
    right: -12px;
    border-width: 10px 7.5px 0 7.5px;
    border-color: #fff transparent transparent;
}

.ccs--body {
    direction: ltr;
}

/* DOMAIN SEARCH FORM */
.domain-search--form .input-group input.form-control {
    text-align: right;
}

.domain-search--form .input-group button.btn:before {
    left: 0;
    right: auto;
    border-width: 10px 0 0 25px;
}

.domain-search--form .extras span:before {
    margin-left: 10px;
    margin-right: 0;
}

/* PRICING SECTION */
.pricing--nav .nav > li > a > span {
    margin-left: 0;
    margin-right: 10px;
}

.pricing--slider .owl-nav > div {
    left: auto;
}

/* TEAM SECTION */
.team--members .owl-nav > div {
    left: auto;
    right: auto;
}

/* TESTIMONIAL SECTION */
.testimonial--item .name:before {
    margin-left: 12px;
    margin-right: 0;
}

.testimonial--slider .owl-dots {
    left: -4px;
    right: auto;
}

/* COUNTER SECTION */
.counter--item {
    padding-left: 65px;
    padding-right: 30px;
}

.counter--item:before {
    left: 35px;
    right: 0;
}

.counter--item .img {
    left: 0;
    right: auto;
}

/* FAQ SECTION */
.faq--item .panel-heading a {
    padding-left: 40px;
    padding-right: 20px;
}

.faq--item .panel-heading a .fa {
    margin-left: 14px;
    margin-right: 0;
}

.faq--item .panel-heading a:before,
.faq--item .panel-heading a:after {
    left: 20px;
    right: auto;
}

/* AFFILIATE SECTION */
.affiliate--info-item:after {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: -30px;
}

/* COMING SOON SECTION */
.coming--soon--section.bg--overlay:before {
    left: auto;
    right: 0;
}

.coming--soon-content .countdown ul li {
    float: right;
}

/* PRODUCTS SECTION */
.product--summery .ui-spinner {
    margin-left: 20px;
    margin-right: 0;
}

.product--summery .buttons .btn {
    margin-left: 20px;
    margin-right: 0;
}

.product--summery .buttons .btn-link {
    margin-left: 25px;
    margin-right: 0;
}

.product--summery .buttons .btn-link:last-child {
    margin-left: 0;
}

.product--img-gallery .owl-nav > div {
    left: auto;
    right: 0;
}

.product--img-gallery .owl-nav > div.owl-next {
    left: 0;
    right: auto;
}

/* CART SECTION */
.coupon--code .input-group-btn .btn {
    border-radius: 25px;
}

.cart--total .table tbody th,
.cart--total .table tbody td {
    text-align: right;
}

.cart--total .table tbody td + td,
.cart--total .table tbody th + td {
    text-align: left;
}

/* CHECKOUT SECTION */
.checkout--form .table tr td + td,
.checkout--form .table tr th + th {
    text-align: left;
}

.checkout--form .table tr th + th:before,
.checkout--form .table tr td + td:before {
    border-left-width: 1px;
    border-right-width: 0;
}

.checkout--form .checkbox span {
    padding-left: 0;
    padding-right: 23px;
}

.checkout--form .checkbox span:before {
    left: auto;
    right: 0;
}

.checkout--form .checkbox span:after {
    left: auto;
    right: 2px;
}

.checkout--form .panel span {
    padding-left: 0;
    padding-right: 24px;
}

.checkout--form .panel span:before {
    left: auto;
    right: 0;
}

.checkout--form .panel span:after {
    left: auto;
    right: 4px;
}

/* BLOG SECTION */
.post--img .date {
    left: auto;
    right: 0;
}

.post--inner .meta > li > a > .fa {
    margin-left: 8px;
    margin-right: 0;
}

.post--items .post--img .date a {
    margin-left: 1px;
    margin-right: 0;
}

.post--footer > div > p {
    margin-left: 15px;
    margin-right: 0;
}

.post--author .img {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

/* MEDIA QUARIES */
@media screen and (max-width: 991px) {
    .header--navbar .navbar-toggle {
        margin-left: 0;
        margin-right: 15px;
    }
    
    .header--cart-btn {
        left: 85px;
        right: auto;
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .header--navbar .navbar-toggle {
        margin-left: 15px;
    }

    .header--nav-links > li {
        float: none;
    }
}

@media screen and (max-width: 600px) {
    /* HELPER CLASSES */
    .col-xxs-12 {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 480px) {
    /* HELPER CLASSES */
    .col-xss-12 {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
